.container {
    width: calc(100% - 20px);
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 70%;
    height: calc(100vh - 100px);
    margin-left: 20px;
}

@media only screen and (max-width:800px) {
    .container {
        display: flex;
        flex-flow: column-reverse nowrap;
    }

    .sidebar {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}